Write a Python function to find the Max of three numbers

In [4]:
def maxxs():
 n1=int(input("Enter first number: "));

 n2=int(input("Enter second number: "));

 n3=int(input("Enter Third number: "));
 if(n1>=n2) and (n1>=n3):

        l=n1

 elif(n2>=n1) and (n2>=n3):

         l=n2
 else:

         l=n3

 print("Largest number among  the three is",l)
maxxs()

Enter first number: 5
Enter second number: 2
Enter Third number: 4
Largest number among  the three is 5

Write a Python function to sum all the numbers in a list

In [5]:
list1 = [11, 5, 17, 18, 23]
a=sum(list1)
print(a)

74

 Write a Python function to multiply all the numbers in a list

In [7]:
def mult():
 list1 = [11, 5, 17, 18, 23]
 for i in list1:
  a=i*i+1
  i+=i
 print(a)
mult()

530

Write a Python program to reverse a string

In [8]:
txt = "Diwon"[::-1]
print(txt)

nowiD

Factorial

In [13]:
def fact():
 n=int(input("Input a number to compute the factiorial : "))
 if n == 0:
  print("1")
 else:
  a=n*(n-1)
 print(a)
fact()

Input a number to compute the factiorial : 4
12

Upper and Lower Text

In [15]:
def up_low(string):
  uppers = 0
  lowers = 0
  for char in string:
    if char.islower():
      lowers += 1
    elif char.isupper():
      uppers +=1
  return(uppers, lowers)

print(up_low('The Quick Brown Fox'))

(4, 12)

New list with no duplicate value

In [16]:
def org:
  my_list = [10, 20, 30, 40, 20, 50, 60, 40]
  print("Original List : ",my_list)
  my_set = set(my_list)
  my_new_list = list(my_set)
  print("List of unique numbers : ",my_new_list)
org()

Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
List of unique numbers :  [40, 10, 50, 20, 60, 30]

Prime or not

In [ ]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

To print even number from list

In [ ]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

Check Palindrome

In [ ]:
def palin():
 n = input("Enter the word and see if it is palindrome: ")
 if n == n[::-1]:
    print("This word is palindrome")
 else:
    print("This word is not palindrome")
palin():