Write a Python function to find the Max of three numbers

In [2]:
def max_num():
 a=int(input("Enter first number: "));

 b=int(input("Enter second number: "));

 c=int(input("Enter Third number: "));
 if(a>=b) and (a>=c):
        L=a
 elif(b>=a) and (b>=c):
         L=b
 else:
         L=c
 print("Largest number among  the three is",L)
max_num()

Enter first number: 109
Enter second number: 231
Enter Third number: 45
Largest number among  the three is 231

Write a Python function to sum all the numbers in a list

In [4]:
list_x = [17, 34, 7, 108, 30]
x=sum(list_x)
print(x)

196

Write a Python function to multiply all the numbers in a list

In [5]:
def multiply():
 list_m = [17, 34, 7, 108, 30]
 for i in list_m:
  a=i*i+1
  i+=i
 print(a)
multiply()

901

Write a Python program to reverse a string

In [6]:
string = "White Devil"[::-1]
print(string)

liveD etihW

WAP to claculate factorial

In [7]:
def factorial():
 n=int(input("Input a number to calculate the factiorial : "))
 if n == 0:
  print("1")
 else:
  a=n*(n-1)
 print(a)
factorial()

Input a number to calculate the factiorial : 3
6

Upper and Lower Text

In [11]:
string="wHitE DeViL"
print(string.upper())
print(string.lower())

WHITE DEVIL
white devil

New list with no duplicate value

In [14]:
def dup():
  list_a = [10, 20, 30, 40, 20, 50, 60, 40]
  print("Original List : ",list_a)
  set_a = set(list_a)
  list_final = list(list_a)
  print("List of unique numbers : ",list_final)
dup()

Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
List of unique numbers :  [10, 20, 30, 40, 20, 50, 60, 40]

Prime or not

In [18]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(607))

True

To print even number from list

In [19]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

Check Palindrome

In [21]:
def palin():
 n = input("Enter the word and see if it is palindrome: ") #check palindrome
 if n == n[::-1]:
    print("This word is palindrome")
 else:
    print("This word is not palindrome")
palin()

Enter the word and see if it is palindrome: racecar
This word is palindrome